.topnav {
	background-color: white;
	overflow: hidden;
}

.topnav h1 {
	display: inline;
}

.topnav a {
	float: right;
	color: tomato;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
	font-size: 17px;
}

.topnav a:hover {
	/*background:  #F5F5F5;*/
	border-bottom: 3px solid #000;
	padding-bottom: 3px;
}

.small-frame {
	display: none;
}

@media (max-width: 1000px) {
	.topnav {
		display: none;
	}
	
	.small-frame {
		display: block;
	}

	.small-frame h1 {
		text-align: center;
	}

	.small-frame-content {
		color: tomato;
		font-size: 17px;
		text-align: center;
		padding: 4px 16px;
	}

	.frame {
		padding: 4px 30px;
		text-decoration: none;		
	}

	.frame:hover {
		background: #F5F5F5;
	}
}