pre {
	font-size: 13px;

	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;

	overflow-wrap: break-word;

	word-wrap: break-word;

	max-width: 800px;
}

a {
	color: tomato;
}