body, table {
	font-size: 16px;
	font-weight: 400;
	font-family: 'computer_modern_serif_roman', sans-serif;
	font-style: normal;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

td {
	padding-right: 10px;
}

#title {
	background-color: #e5e3e3;
}

tr:hover {
	background-color: #f4ead5;
}

hr {
	max-width: 800px;
}