div {
	zoom: 90%;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#back-link {
	text-decoration: none;
	display: inline-block;
	padding: 4px 12px;
	color: black;
	background-color: tomato;
}

footer {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

pre {
	white-space: pre-wrap;
	background: #333;
	color: tomato;
	padding: 4px 20px;
}

a {
	color: tomato;
}