div {
    zoom: 90%;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

img {
	display: block;
	margin: 0 auto;
}

#back-link {
	text-decoration: none;
	display: inline-block;
	padding: 4px 14px;
	color: black;
	background-color: tomato;
}

#back-link:hover {
	/*padding: 4px 14px;*/
	background-color: #e5593f;
}


a {
	color: tomato;
	text-decoration: none;
}

a:hover {
	color: #f90206;
}

footer {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}