/*For testing */
/** {
	border: 2px dotted black;
}
*/

@font-face {
	font-family: 'miller_text';
	src: /*url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
		 url('../fonts/opensans-regular-webfont.woff') format('woff'),*/
		 url('../fonts/Miller Text Roman.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

::selection {
	/* WebKit/Blink Browsers */
	background: #a8d1ff; 
}

::-moz-selection {
	 /* Gecko Browsers */
	background: #a8d1ff; 
}

body {
	line-height: 1.5;
	background-color: #f6f6ef;
}

div {
	font-size: 16px;
	font-weight: 400;
	font-family: 'miller_text', 'Helvetica', sans-serif;
	font-style: normal;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

@media(max-width: 1000px) {
	div {
		zoom: 90%;
	}
}

img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.story {
	background-color: #f3f3f3
}

#email {
	display: inline;
	margin: auto;
	max-width: 100%;
}

#on-off, #font-on-off, #zoom-text {
	float: right;
	border: 4px solid black;
	color: black;
	text-decoration: none;
	padding: 2px 2px 2px 2px;
}

#back-link {
	text-decoration: none;
	display: inline-block;
	padding: 4px 14px;
	border: 4px solid black;
	color: black;
	font-weight: 900;
	/*background-color: tomato;*/
}

#back-link:hover {
	/*padding: 4px 14px;*/
	background-color: #1965c8;
}

.like-pre {
	font-family: monospace; 
	font-size: 14px;
	word-wrap: break-word;
	white-space: pre-wrap;
}

a {
	color: #1965c8;
	text-decoration: none;
}

a:hover {
	/*color: #f90206;*/
    border-bottom: 2px dotted #000;
}

footer {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}